::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f4f3f8;
}

::-webkit-scrollbar-track {
    background: #24233b;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}